{
    "containerDefinitions": [ 
       { 
          "essential": true,
          "name": "$CONTAINER_IMAGE",
          "image": "$REPOSITORY_URI/$IMAGE_REPO_NAME",
          "portMappings": [ 
             { 
                "containerPort": $CONTAINER_PORT,
                "hostPort": $CONTAINER_PORT,
                "protocol": "tcp"
             }
          ]
       }
    ],
    "cpu": "256",
    "executionRoleArn": "arn:aws:iam::$ACCOUNT_ID:role/$CONTAINER_ROLE_ARN",
    "memory": "512",
    "family": "fargate-task-definition",
    "networkMode": "awsvpc",
    "requiresCompatibilities": [ 
        "FARGATE" 
     ]
 }